<ion-view view-title="{{menu.create}} Create new post" ng-controller="CreatePostCtrl">
    <ion-nav-buttons side="right">
        <div ng-include="'templates/partials/header-icon.html'"></div>
    </ion-nav-buttons>
    <ion-content has-bouncing="true">

        <div class="card transparent">
            <div class="item item-text-wrap transparent">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Title</span>
                        <input type="text" placeholder="Title" ng-model="post.title">
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Category
                        </div>
                        <select ng-model="post.category" ng-change="getSub(post.category)">
                            <option ng-repeat="c in cats" value="{{c._id}}">{{c.name}}</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Sub Category
                        </div>
                        <select ng-model="post.subCategory" ng-disabled="!post.category">
                            <option ng-repeat="s in subcats" value="{{s._id}}">{{s.name}}</option>
                        </select>
                    </label>

                    <label class="item item-input item-floating-label">
                        <span class="input-label">Body</span>
                        <textarea rows="10" placeholder="Body"  ng-model="post.body"></textarea>
                    </label>

                    <div class="button-bar" style="margin-top:3px">
                        <button class="button button-icon white-text" ng-repeat="tag in tags track by $index" ng-click="removeTag($index)">{{tag}}

                        </button>
                    </div>

                    <div class="bar item-input-inset transparent">
                        <label class="item item-input-wrapper">
                            <i class="icon ion-ios-pricetag placeholder-icon"></i>
                            <input type="search" placeholder="Enter new tag" ng-model="tagText">
                        </label>
                        <button ng-click="addTag(tagText)" class="button button-royal button-clear" on-hold="tip('Tap to start searching with the entered text')"><span class="ion-plus"></span>
                        </button>
                    </div>

                </div>
                
                    <button class="button button-assertive round pull-right" ng-click="create()">
                        <span class="ion-ios-checkmark"></span>
                    </button>
                    <div style="clear:both"></div>
                    
                
            </div>
        </div>
    </ion-content>
</ion-view>