<ion-view view-title="{{menu.posts}} BeeNigeria" ng-controller="PostCtrl">
   <ion-nav-buttons side="right">
    <div ng-include="'templates/partials/header-icon.html'"></div>
    </ion-nav-buttons>
    <ion-content has-bouncing="true">
       <div class="list card" ng-repeat="p in  posts">
            <div class="item item-avatar">
                <img src="img/user.png">
                <h2 class="white-text">{{p.user.displayName}}</h2>
                <p>{{p.created | date:mediumDate}}</p>
            </div>
            
            <div class="item item-body">
                <h2 class="card-title">{{p.title}}</h2>
                <p>
                    <a href="#" class="subdued"><span class="ion-reply-all"></span> 5 Replies</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#/app/posts/{{p._id}}">
                    <i class="icon ion-eye"></i> Peek
                </a>
            </div>
        </div>
       
    </ion-content>
</ion-view>