<ion-view view-title="{{menu.posts}} App Name">
   <ion-nav-buttons side="right">
    <div ng-include="'templates/partials/header-icon.html'"></div>
    </ion-nav-buttons>
    <ion-content has-bouncing="true">
       <div class="list card">
            <div class="item item-avatar">
                <img src="img/user3.jpg">
                <h2 class="white-text">Patie Ushie</h2>
                <p>November 05, 1955</p>
            </div>
            
            <div class="item item-body">
                <h2 class="card-title">What is the best way to kill a rat?</h2>
                <p>
                    <a href="#" class="subdued"><span class="ion-reply-all"></span> 5 Replies</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#/app/posts/1">
                    <i class="icon ion-eye"></i> Peek
                </a>
            </div>
        </div>
       
       <div class="list card">
            <div class="item item-avatar">
                <img src="img/user.png">
                <h2 class="white-text">Anonymous</h2>
                <p>November 05, 1955</p>
            </div>
            
            <div class="item item-body">
                <h2 class="card-title">Guess who I am?</h2>
                <p>
                    <a href="#" class="subdued"><span class="ion-reply-all"></span> 5 Replies</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#/app/posts/1">
                    <i class="icon ion-eye"></i> Peek
                </a>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/user2.jpg">
                <h2 class="white-text">Christian Nwamba</h2>
                <p>November 05, 1955</p>
            </div>
            
            <div class="item item-body">
                <h2 class="card-title">How to make a cake without burning it</h2>
                <p>
                    <a href="#" class="subdued"><span class="ion-reply-all"></span> 5 Replies</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#/app/posts/1">
                    <i class="icon ion-eye"></i> Peek
                </a>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/user4.jpg">
                <h2 class="white-text">Jael Okpara</h2>
                <p>November 05, 1955</p>
            </div>
            
            <div class="item item-body">
                <h2 class="card-title">Benz or BMW?</h2>
                <p>
                    <a href="#" class="subdued"><span class="ion-reply-all"></span> 5 Replies</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#/app/posts/1">
                    <i class="icon ion-eye"></i> Peek
                </a>
            </div>
        </div>
        
    </ion-content>
</ion-view>