<ion-view view-title="{{menu.users}} Users">
    <ion-nav-buttons side="right">
        <div ng-include="'templates/partials/header-icon.html'"></div>
    </ion-nav-buttons>
    <ion-content has-bouncing="true">
        <div class="bar bar-header item-input-inset">
            <label class="item item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-royal button-clear" on-hold="tip('Tap to start searching with the entered text')"><span class="ion-android-send" ></span>
            </button>
        </div>
        <div class="list">

            <a class="item item-avatar" href="#">
                <img src="../img/user.png">
                <h2 class="white-text">Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="../img/user2.jpg">
                <h2 class="white-text">Christian Nwamba</h2>
                <p>Back off, man. I'm a computer programmer.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="../img/user3.jpg">
                <h2 class="white-text">Patie Ushie</h2>
                <p>Back off, man. She is my girlfriend.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="../img/user.png">
                <h2 class="white-text">Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
            <a class="item item-avatar" href="#">
                <img src="../img/user.png">
                <h2 class="white-text">Venkman</h2>
                <p>Back off, man. I'm a scientist.</p>
            </a>
        </div>
    </ion-content>
</ion-view>