<ion-popover-view class="no-trans">
    <div class="list">

        <a class="item item-icon-left" href="#/app/create" ng-click="closePopover()">
            <i class="icon ion-ios-compose"></i> Create Post
        </a>
        
        <a class="item item-icon-left" href="#/app/create" ng-click="closePopover()">
            <i class="icon ion-person"></i> Christian Nwamba
        </a>

        <a class="item item-icon-left" href="#/app/create" ng-click="closePopover()">
            <i class="icon ion-log-out"></i> Sign out
        </a>
        
        <a class="item item-icon-left" href="#/app/create" ng-click="closePopover()">
            <i class="icon ion-log-in"></i> Sign In
        </a>
        
        
        <a class="item item-icon-left" href="#/app/create" ng-click="closePopover()">
            <i class="icon ion-person-add"></i> Register
        </a>

    </div>
</ion-popover-view>